.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

/* SOLUZIONE ESERCIZIO 1 */
.ex-1-square {
    transition: background-color 4s;
}

.ex-1-square:hover {
    background-color: red;
}

/* /SOLUZIONE ESERCIZIO 1 */




.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* SOLUZIONE ESERCIZIO 2 */
.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 600px;
}

/* /SOLUZIONE ESERCIZIO 2 */





.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* SOLUZIONE ESERCIZIO 3 */

.ex-3-square {
    transition: border-radius 4s;
}

.ex-3-square:hover {
    border-radius: 50px;
}

/* /SOLUZIONE ESERCIZIO 3 */




.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* SOLUZIONE ESERCIZIO 4 */

.ex-4-square {
    transition: opacity 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* /SOLUZIONE ESERCIZIO 4 */





.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

/* SOLUZIONE ESERCIZIO 5 */

.ex-5-square {
    transition: 4s;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 30px;
    height: 30px;
}

/* /SOLUZIONE ESERCIZIO 5 */

.ex-6-img,
.ex-7-img,
.ex-8-img {
    width: 500px;
}

/* SOLUZIONE ESERCIZIO 6 */

.ex-6-img:hover {
    filter: grayscale(1);
}

/* /SOLUZIONE ESERCIZIO 6 */



/* SOLUZIONE ESERCIZIO 7 */

.ex-7-img {
    transition: 5s;
}

.ex-7-img:hover {
    filter: grayscale(0.5);
    filter: blur(3);
}

/* /SOLUZIONE ESERCIZIO 7 */


/* SOLUZIONE ESERCIZIO 8 */

.ex-8-img {
    transition: 4s;
}

.ex-8-img:hover {
    filter: grayscale(0.5);
    filter: blur(3);
    border-radius: 40%;
}

/* /SOLUZIONE ESERCIZIO 8 */



.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

/* SOLUZIONE ESERCIZIO 9 */

.ex-9-img {
    transition: 4s;
}

.ex-9-img:hover {
    filter: grayscale(0.5);
    filter: blur(3);
    border-radius: 40%;
    transform: scale(0.5);
}

/* /SOLUZIONE ESERCIZIO 9 */



.ex-10-icon {
    font-size: 60px;
}

/* SOLUZIONE ESERCIZIO 10 */
.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

/* /SOLUZIONE ESERCIZIO 10 */


.ex-11-icon {
    font-size: 60px;
}


/* SOLUZIONE ESERCIZIO 11 */
.ex-11-icon:hover {
    animation: spin 2s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(0);
    }
}

/* /SOLUZIONE ESERCIZIO 11 */

.ex-12-button,
.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white,
.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white,
.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}







/* SOLUZIONE ESERCIZIO 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: moveTopWhite 2s linear;
}

@keyframes moveTopWhite {
    0% {
        left: 10%;
    }

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: moveBottomWhite 2s linear;
}

@keyframes moveBottomWhite {
    0% {
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }
}

/* /SOLUZIONE ESERCIZIO 12 */

/* SOLUZIONE ESERCIZIO 13 */
.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 2s linear;
}

@keyframes moveTopWhiteCompletely {
    0% {
        left: 10%;
        top: -10px;
    }

    30% {
        left: calc(100% - 30px);
        top: -10px;
    }

    45% {
        left: calc(100% - 30px);
        top: 100%;
    }

    75% {
        left: 0;
        top: 100%;
    }

    90% {
        left: -15px;
        top: -10px;
    }

    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomWhiteCompletely 2s linear;
}

@keyframes moveBottomWhiteCompletely {
    0% {
        bottom: -10px;
        right: 20%;
    }

    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }

    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }

    75% {
        right: 0;
        bottom: 100%;
    }

    90% {
        right: -15px;
        bottom: -10px;
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}

/* /SOLUZIONE ESERCIZIO 13 */